h1 {
  font-size: 24px;
  font-family: "lucida sans unicode", "lucida grande", "sans-serif";
  font-weight: bold;
  text-align: center;
}

h2 {
  font-size: 22px;
  font-family: "lucida sans unicode", "lucida grande", "sans-serif";
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 20px;
  font-family: "lucida sans unicode", "lucida grande", "sans-serif";
  font-weight: bold;
  text-align: center;
}

h4 {
  font-size: 18px;
  font-family: "lucida sans unicode", "lucida grande", "sans-serif";
  font-weight: bold;
  text-align: center;
}

h5 {
  font-size: 16px;
  font-family: "lucida sans unicode", "lucida grande", "sans-serif";
  font-weight: bold;
  text-align: center;
}

h6 {
  font-size: 14px;
  font-family: "lucida sans unicode", "lucida grande", "sans-serif";
  font-weight: bold;
  text-align: center;
}

p {
  color: black;
  font-family: "lucida sans unicode", "lucida grande", "sans-serif";
  font-size: 14px;
}

th {
  font-size: 14px;
  font-family: "lucida sans unicode", "lucida grande", "sans-serif";
}

td {
  font-size: 14px;
  font-family: "lucida sans unicode", "lucida grande", "sans-serif";
  text-align: center;
}

.CenterTable{
  margin-left: auto;
  margin-right: auto;
}